# starsync.timer
# Place this file at /etc/systemd/system/starsync.timer
# Once both the timer and unit are in place, you can reload the systemd daemon
# and start the timer with the following commands:
# sudo systemctl daemon-reload
# sudo systemctl start starsync.timer

[Unit]
Description=Run Starsync every day at midnight

[Timer]
# Schedule your script every day 10 pm
OnCalendar=*-*-* 22:00:00

Persistent=true

[Install]
WantedBy=timers.target
