# starsync.service
# Should be saved in /etc/systemd/system/starsync.service
[Unit]
Description=Starsync from multiple sources to this server

[Service]
WorkingDirectory=/home/swamylab/mouselab/scripts/
ExecStart=/home/swamylab/mouselab/scripts/starsync.bash
User=swamylab
